.form-control{
    border-radius: 0px;
    margin-bottom: 3px;
}
.navbar-default .navbar-brand{
    color:#3f9fcf;
}
.topnavigation button.btn .btn-info{
    background-color: #3f9fcf;
}

.nav-pills > li > a{
    border-radius: 0px;
    margin-left: -15px;
    margin-right: -15px;
}
.nav-pills > li.active >a
{
    background-color: #3f9fcf;
    
    height: 50px;
    font-size: 20px;
}